<div class="main cmd " data-type="info" data-cmd_id="#state_id#">
  <center>
	<div class="divLabel">
	  <span  class="spanLabel" ></span>
	</div>
  </center>

  <div class="secondary">		  
	  <div class="separateDiv"></div>
	  <div class="action_colorpicker cmd " data-type="info" data-cmd_id="#colorState_id#"></div>
	  <div id="shapeL" class="shapeL cmd" data-type="info" data-cmd_id="#lightState_id#"> </div>
	  <div id="shapeR" class="shapeR cmd" data-type="info" data-cmd_id="#tempState_id#"></div>
	  <img src="" class="image cmd " data-type="info" data-cmd_id="#isReachable_id#" id="imageCentrale">
	  <div>
		  <center>
			  <label class="labelPourcentage" id="lPourcentage"><b></b></label>
		  </center>
	  </div>
  </div>
  <div class="colorChoice"></div>
</div>
